= content_for :title do
  = @application.title

= content_for :application_name do
  = @application.title

= content_for :application_tagline do
  = @application.tagline

= content_for :footer_links do
  %h5
    Важные ссылки здесь
  %ul
    = link_to 'Скилл-шеринг сообщество IT Way', 'http://it-way.pro'

= content_for :footer_logos do
  = nil
  -#= link_to 'http://it-way.pro' do
    = image_tag 'logos/it_way_conf.png'

= content_for :latitude do
  = 54.3151358

= content_for :longtitude do
  = 48.3960357

= content_for :address do
  г. Ульяновск, ул. Гончрова, д. 24, 3 этаж

= content_for :schedule do
  Каждый день с 8.00 до 22.00

= content_for :phone do
  = @application.phone

- @close_events.each do |event|
  .container
    .row-fluid
      = render 'tramway/landing/templates/section_with_image_and_text', block: event
